*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.body{
    overflow-x: hidden;
    background-color: #063618; 
    padding: 0 7rem;
    user-select: none;
}
header{
    height: 70px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* aqui é a imagem do banner */
/*.banner{
    justify-items:center; 
}
/*  */
header div:nth-child(1) img{
    width: 120px;

}
header div:nth-child(2) ul , header div:nth-child(3) ul{
  display: flex;
  font-weight: bold;
  color: #f8f8f7;
  font-size: 13px;
}
header div:nth-child(2) li a{
    color: white;
    text-decoration: none;
}
header div:nth-child(2) ul li, header div:nth-child(3) ul li{

    margin: 0 5px;
    padding: 5px 20px;
    border: 1.5px solid transparent;
    border-radius: 20px;
    cursor:pointer;
    transition: all 0.3s;
}

header div:nth-child(2) ul li:first-child, header div:nth-child(3) ul li:last-child{
    border: .5px solid white
}

header div:nth-child(2) ul li:hover, header div:nth-child(3) ul li:hover{
    border: 1.5px solid white;
}
html, body {
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0dddd;
}
 .banner img{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    display: block;
 }
 .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; /* Ajuste conforme necessário */
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.cont {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}
  .cont .sus {
    position: relative;
    max-width: 1000px;
    margin-right: 20px;
}
  .cont .sus h2 {
    color: #141414;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 2.5em;
    font-weight: 700;
}
  
  .cont .sus h3 span {
    font-size: 4.4em;
    color: rgb(0, 0, 0);
    left: 3rem;
    text-align: center;
    margin: 0 auto;
}
  .cont .sus2 h3 span {
    font-size: 3.2em;
    color: #141414;
    position: center;
    top: -80px;
}
  .cont .sus p {
    color: #000000;
}
  .cont .sus a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background: #000000;
    color: #fff;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
  }
  .cont .sus a:hover {
    transform: translateY(-10px);
  }
  .sec2{
    margin: 80px 0;
    color: #e0dddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec2 h1{
    font-size: 2.5rem;
}

.sec2 .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
}

.sec2 .container div{
    cursor: pointer;
    margin-top: 30px;
    background-color: #ffffff;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: #000000;
    height: 320px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    align-items: center;
    transition: transform 0.3s;
}

.sec2 .container div:hover{
    transform: scale(1.04);
}

.sec2 .container div img{
    width: 100%;
    height: 210px;
    background-color: red; /*deletable/ */
    object-fit: cover;
    border-radius: 15px;
}

.sec2 .container div i{
    border: 1px solid white;
    padding: 14px 15px;
    border-radius: 50%;
    font-size: 30px;
    margin-bottom: 15px;
    transition: all 0.2s;
}

.sec2 .container div i:hover{
    background-color: white;
    color: #023d18;
}

footer .footersec {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    text-align: justify;
    background-color: #023d18;
    padding: 30px 7vw;
    color: white;
}

footer .footersec .ftr1{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-right: 50px;
}


.ftr1, .ftr2, .ftr3, .ftr4{
    min-width: 200px;
    max-width: 400px;
}

footer .ftr1 img {
    width: 130px;
}

footer .ftr1 .sec5 {
    width: 100%;
    display: flex;
    justify-content: center;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

footer .ftr .sec5 a {
    margin-right: 5px;
}

footer .footersec div h4 {
    font-size: 18px;
}

footer .ftr2 a {
    display: block;
    text-decoration: none;
    color: white;
    padding-top: 15px;
    font-size: 14px;
}

footer .ftr3 p {
    width: 400px;
    padding-top: 15px;
    font-size: 14px;
}

footer .ftr4 p {
    padding-top: 15px;
    font-size: 14px;
}

footer .ftr4 div {
    border: 1px solid white;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

footer .ftr4 div input{
    height: 30px;
    background-color: transparent;
    outline: 0;
    border: none;
    padding: 0 10px;
    width: 70%;
    color: white;
}

footer .ftr4 div input::placeholder{
    color: rgba(255,255,255, 0.514);
}

footer .ftr4 div i{
    padding: 0 15px;
    cursor: pointer;
}

footer .footersec2{
    padding: 15px;
    margin: auto;
    background-color: #023d18;
    text-align: center;
    color: #fff;
    
}
footer .sec5 a i {
    color: white; /* Cor branca para os ícones */
    font-size: 30px; /* Ajuste o tamanho se necessário */
    margin-top: -2.4rem;
    transition: color 0.3s ease-in-out;
}

footer .sec5 a i:hover {
    color: #ccc; /* Cor ao passar o mouse */
}