:root {
    font-size: 10px;
  }
  
  * {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Oswald", sans-serif;
    box-sizing: border-box;
  }
  
  body {
    background-color: white;
  }
  
  section {
    padding: 3rem 0;
    background-color: pink;
  }
  
  /* ==================== HEADER ==================== */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: rgb(206, 145, 155);
    border-bottom: 2px solid rgb(180, 100, 110);
  }
  
  .header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
  }
  
  .logo img {
    height: 80px;
  }
  
  .navbar a {
    margin: 0 1rem;
    font-size: 1.5rem;
    color: white;
  }
  
  .navbar a:hover {
    color: rgb(255, 255, 255);
    padding-bottom: 0.5rem;
    font-size: 1.7rem;
  }
  
  .icons img {
    margin: 1rem;
    cursor: pointer;
    height: 25px;
    width: 25px;
  }
  
  .icons img:hover {
    width: 30px;
    height: 30px;
  }
  
  /* ==================== INÍCIO ==================== */
  #inicio {
    padding-top: 110px;
    position: relative;
  }
  
  .interface {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
  }
  
  /* SLIDES */
  .slider-box {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
  }
  
  .slider-box.ativo {
    opacity: 1;
    pointer-events: auto;
    position: relative;
    z-index: 1;
  }
  
  .slider-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* SETAS */
  .setas {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding: 0 2rem;
    z-index: 10;
  }
  
  .setas button {
    background: none;
    cursor: pointer;
    transition: 0.2s;
    border: 0;
    border-radius: 8px;
  }
  
  .setas button:hover {
    background-color: #e1e1e1;
  }
  
  .setas img {
    width: 40px;
    height: 40px;
  }
  
  /* BOTÕES DE NAVEGAÇÃO */
  .navbox {
    width: 100%;
    position: absolute;
    bottom: 50px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
  }
  
  .navbox .btn-nav {
    width: 15px;
    height: 15px;
    background-color: pink;
    border-radius: 8px;
    border: 1px solid white;
    opacity: 1;
  }
  
  .navbox .btn-nav:hover {
    background-color: rgb(251, 148, 165);
  }
  
  .navbox .btn-nav.ativo {
    background-color: rgb(251, 148, 165);
  }